<h1>Trail-Mix</h1>
<h2>Your Traveling Playlist</h2>
<h3>Show us where you're heading:</h3>
<p>We'll create a a playlist based on the music that best suits your journey</p>
<p>An intelligent mix that adapts to where you are</p>

<img src="../goldenGate.jpg">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1619953.5686195034!2d-122.13120240043224!3d37.5321617057318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1444538896665" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>